@model MovieManager.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.releaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.releaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.directorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.directorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.contactAdress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.contactAdress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.movieLanguage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.movieLanguage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.catagoryID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.catagoryID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
